alias la="ls -a"
alias ll="ls -alh"
alias l="ls -alh"
alias cd..="cd .."
alias cdgit="cd \`git rev-parse --show-toplevel\`"
alias cdg="cd \`git rev-parse --show-toplevel\`"
alias be="bundle exec"
alias ber="bundle exec ruby"
alias rebe="rbenv exec bundle exec"
alias reber="rbenv exec bundle exec ruby"
alias bera="bundle exec rails"
alias up="source ~/dotfiles/scripts/up/up.sh"
#alias favd="source ~/dotfiles/scripts/favd/favd.sh"
#alias fd="source ~/dotfiles/scripts/favd/favd.sh"
#source ~/dotfiles/scripts/favd/favd-bash-completion.sh
alias g="~/dotfiles/scripts/misc/g.sh"
alias gi="git"
alias gti="git"
alias gau="git add -u"
alias gd="git diff"
alias gdc="git diff --cached"
alias gl="git log"
alias gitp="git"
alias gil="git log"
alias gitl="git log"
alias gitpul="git pull"
alias t="tig status"
alias v="nvim"
alias vn="nvim -c NERDTree"
alias c="cd"
alias va="vagrant"
alias vag="vagrant"
alias vagup="vagrant up"
alias scr="screen"
alias sc="screen"
alias dc="docker-compose"
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dcb="docker-compose build"
alias dcr="docker-compose run --rm"
alias dcrrm="docker-compose run --rm"
alias dce="docker-compose exec"
alias dcps="docker-compose ps"
alias dr="docker run --rm"
alias drit="docker run -it --rm"
alias dritrm="docker run -it --rm"
alias de="docker exec"
alias deit="docker exec -it"
alias dps="docker ps"
alias pa="php artisan"
alias tf="terraform"
alias tg="terragrunt"
alias aw="aws"
alias k="kubectl"
alias ka="kubectl apply"
alias kaf="kubectl apply -f"
alias kc="kubectl create"
alias kcf="kubectl create -f"
alias kd="kubectl delete"
alias kdf="kubectl delete -f"
alias kg="kubectl get"
alias kgp="kubectl get pod"
alias kl="kubectl logs"
alias ke="kubectl exec"
alias keit="kubectl exec -it"
alias krr="kubectl rollout restart"
alias krrd="kubectl rollout restart deployment"
alias rmdss="find . -name '.DS_Store' -type f -ls -delete"
alias py="python"
alias eksadmintoken='kubectl -n kube-system describe secret $(kubectl -n kube-system get secret | grep eks-admin | awk '\''{print $1}'\'')'
alias pr="pipenv run"
alias prp="pipenv run python"
alias tm="tmux"
alias pb="pbcopy"
alias pbc="pbcopy"
alias nv="nvim"
alias nvn="nvim -c NERDTree"
