[core]
	editor = vim
[alias]
	co = checkout
	st = status
	logns = log --name-status
	diffc = diff --cached
	logp = log --date=iso --pretty=format:\"%h %ad [%an] %s\"
	s = status
	d = diff
	dc = diff --cached
	dif = diff
	difc = diff --cached
	a = add
	ad = add
	pul = pull
	ull = pull
	ul = pull
	f = fetch
	fe = fetch
	fet = fetch
	fetc = fetch
	etch = fetch
	feth = fetch
	merg = merge
	mg = merge
