[submodule "scripts/up"]
	path = scripts/up
	url = https://github.com/yoshi-self/up.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "scripts/favd"]
	path = scripts/favd
	url = https://github.com/yoshi-self/favd.git
